<div class="carritoContent">
    <div class="carritoBack">
        <div class="headerCart">
            <h2>Games Owned</h2>
        </div>
        <div class="carritoList">
            <ul>
                @for(game of cartList; track game.name){
                    <li>
                        <h5>{{game.name}}</h5>
                    </li>
                    <li><h6>Price: ${{game.price}}</h6></li>
                }
            </ul>
            <button class="comprarButton  input-group btn btn-primary btn-sm">
                Confirm Buy
            </button>
        </div>
    </div>
</div>
